<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Git Commit Graph</title>
	
    <meta id="githubUsername" data-name="{{ username }}">

    <!-- include application-chart.min.css -->
    <link rel="stylesheet" type="text/css" href="../static/css/tui-chart.min.css"/>
    <link rel="stylesheet" href="../static/css/graph.css"/>
</head>
<body>
<h1>{{ username }}'s Github</h1>

<div id="chart-area"></div>

<script src="../static/js/utilities/code-snippet.min.js"></script>
<script src="../static/js/utilities/raphael.min.js"></script>
<script src="../static/js/utilities/tui-chart.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/js/graph.js"></script>

</body>
</html>